@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
    List<IdentityRole> roles = RoleManager.Roles.ToList();
    List<IdentityUser> users = UserManager.Users.ToList();
}

<h1>Roles:</h1>
<ul>
    @foreach (IdentityRole role in roles)
    {
        <li><a asp-controller="Admin" asp-action="EditUsersInRole" asp-route-roleId="@role.Id">@role.Name</a>
            <ul>
                @foreach (IdentityUser user in users)
                {
                    bool isInRole = await UserManager.IsInRoleAsync(user, role.Name);
                    @if (isInRole)
                    {
                        <li>@user.UserName</li>
                    }
                }
            </ul>
        </li>
    }
</ul>