@using DarnTheLuck.ViewModels
@model List<ListAllUsersViewModel>
@if (Model == null)
{
    <h2>No Users</h2>
}
else
{
    <form method="post" onsubmit="confirm('Delete These Users?')">
        <div class="card">
            <div class="card-header">
                <h2 class="text-danger">Remove Users:</h2>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].Email" />
                        <input asp-for="@Model[i].Delete" class="form-check-input checkbox-rnd-dgr" />
                        <label class="form-check-label" asp-for="@Model[i].Delete">
                            @Model[i].Email
                        </label>
                    </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Delete" class="btn btn-danger" style="width:auto" />
                <a asp-controller="Admin" asp-action="ListAllUsers"
                   class="btn btn-dark" style="width:auto">Cancel</a>
            </div>
        </div>
    </form>
}