<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DarnTheLuck</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("CustomStyle", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DarnTheLuck</a>*@
                <div class="dropdown show">
                    <a class="navbar-brand" href="#" role="button" id="dropdownHomeMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DarnTheLuck
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownHomeMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="dropdown">
                            <div class="dropdown show">
                                <a class="nav-link text-white" href="#" role="button" id="dropdownListMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tickets
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownListMenuLink">
                                    <a class="dropdown-item" asp-controller="Ticket" asp-action="Index">List All Tickets</a>
                                    <a class="dropdown-item" asp-controller="Ticket" asp-action="Create">Create A New Ticket</a>
                                </div>
                            </div>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <div class="dropdown show">
                                    <a class="nav-link text-white" href="#" role="button" id="dropdownAdminMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownAdminMenuLink">
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Index">View User Roles</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DarnTheLuck - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>