@model DarnTheLuck.ViewModels.CreateTicketViewModel
@section CustomStyle {<link rel="stylesheet" href="~/css/forminput.css" />}

<h1>Tell me about your Motherboard</h1>

<form asp-controller="Ticket" asp-action="Create" method="post">
    <div class="container ticket-round border bg-light b-shadow p-2">
        <div>
            <label>Contact Name</label>
        </div><div>
            <input asp-for="ContactName" type="text" class="input-group input-group-text ticket-round text-left txt" />
            <span class="text-danger" asp-validation-for="ContactName"></span>
        </div>
        <div>
            <label>Contact Email</label>
        </div><div>
            <input asp-for="ContactEmail" type="text" class="input-group input-group-text ticket-round text-left txt" />
            <span class="text-danger" asp-validation-for="ContactEmail"></span>
        </div>
        <div>
            <label>Contact Phone</label>
        </div><div>
            <input asp-for="ContactPhone" type="text" class="input-group input-group-text ticket-round text-left txt" />
            <span class="text-danger" asp-validation-for="ContactPhone"></span>
        </div>
        <div>
            <label>Ticket Notes</label>
        </div><div>
            <textarea asp-for="TicketNotes" class="form-control ticket-round"></textarea>
        </div>
        <div>
            <label>Device Model Number</label>
        </div><div>
            <input asp-for="Model" type="text" id="modelInput" class="input-group input-group-text ticket-round text-left txt" />
        </div>
        <div>
            <label>Device Serial Number</label>
        </div><div>
            <input asp-for="Serial" type="text" class="input-group input-group-text ticket-round text-left txt" />
        </div>
        <div class="pt-3">
            <button class="btn fbtn">Submit</button>
        </div>
    </div>
</form>
@*
    Currently playing with different styles.    
    TODO: settle on a style for this page and try to avoid script solutions (leave script for the future SAP components)

    TODO: Should Techs be able to create a ticket? Admin will need to be able to assign tickets to users or a temp unclaimed status
*@