@using DarnTheLuck.ViewModels
@model List<TicketListViewModel>
<div class="text-center">
    <h1>Ticket Index.cshtml</h1>
</div>
<div class="text-center">
    <h1><a asp-controller="Ticket" asp-action="Create">Create Ticket</a></h1>
</div>

<table>
    <tr><th>Status</th></tr>
    @foreach (TicketListViewModel ticket in Model)
    {
        <tr><td><div>@ticket.Status</div></td></tr>
    }
</table>