@model DarnTheLuck.ViewModels.TicketViewModel
<div class="text-center">
    <h1>Ticket Index.cshtml</h1>
</div>
<div class="text-center">
    <h1><a asp-controller="Ticket" asp-action="Create">Create Ticket</a></h1>
</div>

