@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{ViewData["Title"] = "Home Page";}
<div class="text-center">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) // Are we logged in? Are we an Admin (role)?
    {
        // This was to show off user auth but Ticket Details does that now - okay to remove auth from here
    }
    @if (!string.IsNullOrEmpty(ViewBag.Joke))
    {
        <div>@ViewBag.Joke</div>
    }
</div>