@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{ViewData["Title"] = "Home Page";}
<div class="text-center">
    <h1><a asp-controller="Ticket" asp-action="Index">View Tickets</a></h1>
    <h1><a asp-controller="Ticket" asp-action="Create">Create Ticket</a></h1>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) // Are we logged in? Are we an Admin (role)?
    {
        <h1><a asp-controller="Admin" asp-action="Index">View Roles</a></h1>
        <h1><a asp-controller="Admin" asp-action="CreateRole">Create Role</a></h1>
        <h1><a asp-controller="Admin" asp-action="EditUsersInRole" asp-route-roleId="cc8861b9-bc94-4ff0-b7eb-902fa60613e1">Edit Admin Role</a></h1> @* Hard coded to Admin atm NOTE: also in _Layout Partial!!! *@
        <h1><a asp-controller="Admin" asp-action="EditUsersInRole" asp-route-roleId="0529ffe9-1d23-4f01-9d4b-2bd6f485327c">Edit Tech Role</a></h1> @* Hard coded to Tech atm *@

        @*
            Edit button on the View Roles page that links to Edit Role for each Role
            Delete button on Edit Role page.. and/or Delete button on View Roles (confirm, do not delete Admin... or maybe Tech since it's become integral')
        *@
    }
</div>