@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>

<h1><a asp-controller="Ticket" asp-action="Index">View Tickets</a></h1>
<h1><a asp-controller="Ticket" asp-action="Create">Create Ticket</a></h1>