<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
        <h1 class="text-success">Success!</h1>
        <h2>Your permission code has been accepted.</h2>
        <h2>Please contact the code provider to enable your access.</h2>
    </div>
</div>