<div class="d-flex justify-content-center">
    <h1 class="text-success">Success!</h1>
</div>
<div class="d-flex justify-content-center">
    <h2>Your permission code has been accepted.</h2>
</div>
<div class="d-flex justify-content-center">
    <h2>Please contact the code provider to enable your access.</h2>
</div>