@model DarnTheLuck.ViewModels.UseCodeViewModel
<form method="post" asp-action="UseCode">
    <div class="card">
        <div class="card-header">
            <h2>Access Code: </h2>
        </div>
        <div class="card-body">
            <div>
                <span class="text-danger" asp-validation-for="Value"></span>
            </div>
            <input class="form-control form-text rounded" asp-for="Value" />
        </div>
        <div class="card-footer">
            <input type="submit" value="Submit" class="btn btn-dark" />
        </div>
    </div>
</form>