@model DarnTheLuck.ViewModels.UseCodeViewModel
    <form method="post" asp-action="UseCode">
        <div class="d-flex justify-content-center">
            <span class="o-txt text-danger" asp-validation-for="Value"></span>
        </div>
        <div class="d-flex justify-content-center">
            <label class="o-txt p-1">Access Code :</label>
            <input class="o-txt p-1 rounded" asp-for="Value" />
            <input type="submit" value="Submit" class="o-txt p-1 btn btn-dark" />
        </div>
    </form>