/*@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@700&display=swap');

h1 {
    font-family: 'Unkempt', cursive;
}

.t-box {
    position: relative;
    bottom: -11px;
    color: black;
    display: inline-block;
    padding: 0.4rem 0;
    border-bottom: 4px solid #D5BA5E;
    outline: 0;
}

.x-box {
    position: relative;
    bottom: -11px;
    color: black;
    display: inline-block;
    padding: 0.4rem 0;
    border: none;
    border-bottom: 4px solid #D5BA5E;
    outline: 0;
}

.b-shadow {
    /*box-shadow: -4px -4px 6px 0 rgba(0, 0, 0, 0.3), 6px 6px 8px rgba(0, 0, 0, 0.3);*/
    box-shadow: 0 2px 2px rgba(0,0,0,0.5), 0 4px 4px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.3), 0 12px 12px rgba(0,0,0,0.1);
}

.txt:focus {
    outline: none;
    box-shadow: 0 0 5pt #000000;
}

.fbtn {
    font-weight: bold;
    color: black;
    background: #e9ecef;
    border-radius: 10px;
    box-shadow: 0 0 2pt #000000;
}

.form-control {
    background-color: #e9ecef;
}

.form-control:focus {
    color: black;
    outline: none;
    border: none;
    background-color: #e9ecef;
    box-shadow: 0 0 5pt #000000;
}
/*#212125
#d1d1d1
#ccb79f
#c79e6d
#c2853c

#F3F1F3
#99969A
#AF9A69
#838687
#2C393D*/

/*body {
    font-family: Lato;
    background: #242424;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    height: 100%;
    overflow: hidden;
}*/