@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

.backdrop {
    /*
        Broken Glass Image Source:(Public Domain) Free for personal and commercial use. No attribution required.
        https://pxhere.com/en/photo/1352524
    */
    background-image: url('../glass-101792_1920.jpg');
    margin: auto;
    background-size: cover;
    animation: fadein 1s;
}

.cutout {
    color: black;
    background-color: rgba(225, 225, 225, 1.00);
    mix-blend-mode: screen;
    font: bolder 12vh 'Ultra', serif;
    text-align: center;
    margin: 0;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}