/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Ticket List CSS */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.outline-txt {
    text-shadow: 1px 1px 2px black;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.outline-box {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
}

.ticket-head {
    color: black;
    border-radius: 10px;
}
.ticket-round {
    font-weight: bold;
    color: black;
    border-radius: 10px;
}

.d-txt {
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px; /* fallback */
    font-size: 2vw;
}

.o-txt {
    font-size: 24px; /* fallback */
    font-size: 2vw;
}

/* ticket status colors */
.t-Created {
    background-color: #ccffff;
}
.t-Limbo {
    background-color: #ffaaaa;
}
.t-Ready {
    background-color: #ccffcc;
}
.t-Shipped {
    background-color: #cccccc;
}

@media only screen and (min-width : 1200px) {
    .container {
        max-width: 1400px;
    }
}

.dropdown-item:hover {
    background: rgb(52, 58, 64);
    color: white;
}

.checkbox-round {
    width: 1.1em;
    height: 1.1em;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    border: none;
    background-color: #808080;
}

.checkbox-rnd-dgr {
    width: 1.1em;
    height: 1.1em;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-rnd-dgr:checked {
    border: none;
    background-color: #990000;
}
/*
    https://app.brandmark.io/v3/

    http://colormind.io/bootstrap/
    Color Palettes
    #212125
    #d1d1d1
    #ccb79f
    #c79e6d
    #c2853c
   
    #F3F1F3
    #99969A
    #AF9A69
    #838687
    #2C393D
*/